@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@0,400;0,500;0,600;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
body {
  overflow-x: hidden;
}

nav {
  position: relative;
  height: 140px;
  max-width: 900px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 70% 15%;
      grid-template-columns: 15% 70% 15%;
  justify-items: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  background-color: #fefefe;
  -webkit-filter: drop-shadow(0 0 8px #2f5f5f);
          filter: drop-shadow(0 0 8px #2f5f5f);
  margin-bottom: 10px;
  padding: 10px;
}

nav ul {
  padding: 0;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 0;
  top: 141px;
  width: 100%;
  min-height: 200px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #fff;
  -webkit-transform: translateX(110%);
          transform: translateX(110%);
  -webkit-transition: -webkit-transform 0.4s ease-in;
  transition: -webkit-transform 0.4s ease-in;
  transition: transform 0.4s ease-in;
  transition: transform 0.4s ease-in, -webkit-transform 0.4s ease-in;
  z-index: 1;
}

nav li {
  list-style: none;
  opacity: 1;
}

nav a {
  text-decoration: none;
  font-size: 1.8rem;
  color: #2f5f5f;
}

.nav-visible {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

#logo {
  display: block;
  max-width: 200px;
  margin: 0px auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#logo img {
  width: 100%;
}

#cart {
  position: relative;
  border: 1px solid #2f5f5f;
  border-radius: 50%;
  padding: 10px;
  height: 40px;
  width: 40px;
}

#cart i {
  font-size: 1.3rem;
  color: #9F4f4f;
  text-align: center;
  display: block;
}

#cart #counter {
  position: absolute;
  top: -10px;
  right: -5px;
  border: 1px solid #9F4f4f;
  border-radius: 50%;
  height: 22px;
  width: 22px;
  background-color: #fff;
  text-align: center;
  font-weight: 600;
  z-index: 1;
}

#burgerBtn {
  font-size: 1.8rem;
  color: #9F4f4f;
}

.login-container {
  position: absolute;
  top: 0;
  right: 25px;
}

.login-container i {
  font-size: 1.4rem;
}

.login-container #loggedUser {
  display: none;
}

.footer-container {
  display: -ms-grid;
  display: grid;
}

.logo-social-container {
  background-color: #758690;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.logo-social-container .logo-footer {
  padding: 15px;
}

.logo-social-container .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  padding-bottom: 30px;
}

.social-media a {
  text-align: center;
  padding: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
}

.social-media a i {
  font-size: 1.3rem;
}

.social-media a.facebook {
  background-color: #3b5998;
}

.social-media a.pinterest {
  background-color: #c8232c;
}

.social-media a.instagram {
  background-color: #cd486b;
}

.social-media a.youtube {
  background-color: #c4302b;
}

.logo-footer img {
  display: block;
  margin: 0 auto;
  width: 50%;
}

.info-container {
  background-color: #758690;
  color: #fff;
  margin-top: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 20px;
}

.info-container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info-container h3 {
  display: block;
  position: relative;
  padding-bottom: 2px;
}

.info-container h3:before {
  content: "";
  position: absolute;
  width: 15%;
  height: 1px;
  bottom: 0;
  border-bottom: 1px solid #fff;
}

.newsletter-form {
  width: 200px;
}

.newsletter-form input {
  background-color: #758690;
  border-radius: 5px;
  border: 1px solid white;
}

.newsletter-form button {
  width: 100%;
  margin-top: 4px;
  border-radius: 5px;
  border: 1px solid #fff;
  color: #758690;
  background-color: #fff;
}

.newsletter-form ::-webkit-input-placeholder {
  color: #fff;
}

.newsletter-form :-ms-input-placeholder {
  color: #fff;
}

.newsletter-form ::-ms-input-placeholder {
  color: #fff;
}

.newsletter-form ::placeholder {
  color: #fff;
}
/*# sourceMappingURL=style.css.map */