@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@0,400;0,500;0,600;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
body {
  overflow-x: hidden;
}

.separator {
  width: 90%;
  margin: 50px auto;
  height: 2px;
  border-bottom: 1px solid #402F28;
}

section {
  width: 90%;
  margin: 20px auto;
}

.title-custom-line {
  display: block;
  margin: 0px auto;
  width: 50%;
  max-width: 200px;
}

nav {
  position: relative;
  height: 140px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 70% 15%;
      grid-template-columns: 15% 70% 15%;
  justify-items: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  background-color: #fefefe;
  -webkit-filter: drop-shadow(0 0 8px #2f5f5f);
          filter: drop-shadow(0 0 8px #2f5f5f);
  margin-bottom: 10px;
  padding: 10px;
  z-index: 2;
}

nav ul {
  padding: 0;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 0;
  top: 141px;
  width: 100%;
  height: 200px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #fff;
  -webkit-transform: translateX(110%);
          transform: translateX(110%);
  -webkit-transition: -webkit-transform 0.4s ease-in;
  transition: -webkit-transform 0.4s ease-in;
  transition: transform 0.4s ease-in;
  transition: transform 0.4s ease-in, -webkit-transform 0.4s ease-in;
}

nav li {
  list-style: none;
  opacity: 1;
}

nav a {
  text-decoration: none;
  font-size: 1.8rem;
  color: #2f5f5f;
}

.nav-visible {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

#logo {
  display: block;
  width: 200px;
  margin: 0px auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#logo img {
  width: 100%;
}

#cart {
  position: relative;
  border: 1px solid #2f5f5f;
  border-radius: 50%;
  padding: 10px;
  height: 40px;
  width: 40px;
}

#cart i {
  font-size: 1.3rem;
  color: #9F4f4f;
  text-align: center;
  display: block;
}

#cart #counter {
  position: absolute;
  top: -10px;
  right: -5px;
  border: 1px solid #9F4f4f;
  border-radius: 50%;
  height: 22px;
  width: 22px;
  background-color: #fff;
  text-align: center;
  font-weight: 600;
  z-index: 1;
}

#burgerBtn {
  font-size: 1.8rem;
  color: #9F4f4f;
}

.login-container {
  position: absolute;
  top: 0;
  right: 25px;
}

.login-container i {
  font-size: 1.4rem;
}

.login-container #loggedUser {
  display: none;
}

@media only screen and (min-width: 900px) {
  #burgerBtn {
    display: none;
  }
  nav {
    position: relative;
    height: 140px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 30% 50% 10% 10%;
        grid-template-columns: 30% 50% 10% 10%;
    -ms-grid-rows: 1% 99%;
        grid-template-rows: 1% 99%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav ul {
    position: relative;
    margin: 20px 0px 0px 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 2;
    grid-row: 2;
    width: 100%;
    height: 0px;
    top: 0px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    background-color: none;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  nav li {
    margin: 15px;
    padding: 3px;
    border: 1px dashed #fefefe;
    padding: 3px;
    -webkit-transition: border .6s;
    transition: border .6s;
  }
  nav li:hover {
    border: 1px dashed #2f5f5f;
    padding: 3px;
    color: #2f5f5f;
  }
  nav a {
    font-size: 1.2rem;
  }
  nav a:hover {
    color: #2f5f5f;
  }
  #logo {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
    width: 55%;
    margin: 0px auto;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  #logo img {
    width: 100%;
  }
  #cart {
    margin-right: 40px;
    -ms-grid-column: 4;
    grid-column: 4;
    -ms-grid-row: 2;
    grid-row: 2;
    padding: 15px;
    height: 60px;
    width: 60px;
  }
  #cart i {
    font-size: 1.6rem;
  }
  #cart #counter {
    top: -10px;
    right: -5px;
    height: 27px;
    width: 27px;
  }
  .login-container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 20px;
    -ms-grid-column: 3;
    grid-column: 3;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .login-container i {
    font-size: 1.4rem;
    margin-right: 10px;
  }
  .login-container #loggedUser {
    display: block;
  }
}

.footer-container {
  display: -ms-grid;
  display: grid;
  margin-top: 80px;
}

.footer-container a {
  color: #fff;
  text-decoration: none;
}

.logo-social-container {
  background-color: #758690;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.logo-social-container .logo-footer {
  padding: 15px;
}

.logo-social-container .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  padding-bottom: 30px;
}

.social-media a {
  text-align: center;
  padding: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
}

.social-media a i {
  font-size: 1.3rem;
}

.social-media a.facebook {
  background-color: #3b5998;
}

.social-media a.pinterest {
  background-color: #c8232c;
}

.social-media a.instagram {
  background-color: #cd486b;
}

.social-media a.youtube {
  background-color: #c4302b;
}

.logo-footer img {
  display: block;
  margin: 0 auto;
  width: 50%;
}

.info-container {
  background-color: #758690;
  color: #fff;
  margin-top: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 20px;
}

.info-container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info-container div:last-child {
  padding-bottom: 50px;
}

.info-container h3 {
  display: block;
  position: relative;
  padding-bottom: 2px;
  margin-top: 20px;
  text-align: left;
}

.info-container h3:before {
  content: "";
  position: absolute;
  width: 15%;
  height: 1px;
  bottom: 0;
  border-bottom: 1px solid #fff;
}

.newsletter-form {
  width: 200px;
}

.newsletter-form input {
  background-color: #758690;
  border-radius: 5px;
  border: 1px solid white;
}

.newsletter-form button {
  width: 100%;
  margin-top: 4px;
  border-radius: 5px;
  border: 1px solid #fff;
  color: #758690;
  background-color: #fff;
  -webkit-transition: background-color .4s, color .4s;
  transition: background-color .4s, color .4s;
}

.newsletter-form ::-webkit-input-placeholder {
  color: #fff;
}

.newsletter-form :-ms-input-placeholder {
  color: #fff;
}

.newsletter-form ::-ms-input-placeholder {
  color: #fff;
}

.newsletter-form ::placeholder {
  color: #fff;
}

@media only screen and (min-width: 900px) {
  .logo-social-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .logo-social-container .social-media {
    padding-bottom: 0;
    margin-right: 100px;
  }
  .info-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .info-container h3:before {
    width: 40%;
  }
  .newsletter-form {
    width: 350px;
  }
  .newsletter-form input {
    width: 80%;
  }
  .newsletter-form button {
    width: 80%;
  }
  .newsletter-form button:hover {
    background-color: #758690;
    color: #fff;
  }
}

/* Banner */
.banner {
  display: block;
  width: 100%;
  position: relative;
}

.banner-img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner-title {
  position: absolute;
  top: 2rem;
  right: 1rem;
}

.banner-title .separator {
  margin: 0 auto;
  width: 100%;
}

/* Carousel */
.card {
  margin: 10px auto;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px #2f5f5f;
          box-shadow: 0 0 10px #2f5f5f;
}

.card img {
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid #2f5f5f;
}

.card-price {
  font-size: 1.1rem;
  font-weight: 600;
  color: #da4d51;
  text-align: center;
}

.card-title {
  color: #2f5f5f;
}

/* Age Cubes */
.age-cubes-grid {
  margin: 10px auto;
  width: 90%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  row-gap: 15px;
}

.age-cubes-grid img {
  width: 50%;
}

.age-cubes-grid a {
  text-align: center;
}

/* Category cards */
.categories-container {
  display: -ms-grid;
  display: grid;
  width: 90%;
  margin: 10px auto;
}

.category-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-box-shadow: 0 0 10px #2f5f5f;
          box-shadow: 0 0 10px #2f5f5f;
  border-radius: 5px;
  width: 250px;
  height: 260px;
  margin: 20px auto;
}

.category-card img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.category-card .category-title {
  width: 60%;
  position: absolute;
  margin: auto auto;
  padding: 3px;
  border: 1px solid #2f5f5f;
  background-color: #fff;
}

.category-card h3 {
  border: 1px solid #2f5f5f;
  font-size: 1.2rem;
  padding: 7px;
  margin: auto;
  text-align: center;
}

#newCont {
  display: none;
}

@media only screen and (min-width: 900px) {
  /* New Products */
  #newCont {
    display: -ms-grid;
    display: grid;
  }
  .lg-screens-container {
    width: 80%;
    margin: 10px auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  /* Banner */
  .banner-img {
    width: 100%;
    height: 800px;
  }
  .banner-title {
    position: absolute;
    top: 6rem;
    right: 10rem;
  }
  .banner-title h2 {
    font-size: 5vw;
  }
  /* Age Cubes */
  .age-cubes-grid {
    margin: 20px auto;
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 15px;
  }
  .age-cubes-grid img {
    width: 50%;
  }
  .age-cubes-grid a {
    text-align: center;
  }
  /* Categories */
  .categories-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    width: 90%;
    margin: 10px auto;
    gap: 40px;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "century-gothic", sans-serif;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  margin: 0;
  color: #402F28;
}

h5 {
  font-size: 1.3rem;
}

a {
  text-decoration: none;
}

#searchForm {
  display: block;
  position: relative;
  width: 60%;
  margin: 10px auto;
}

#searchForm #search {
  width: 100%;
  border-radius: 5px;
  border: none;
  -webkit-box-shadow: 0 0 10px #2f5f5f;
          box-shadow: 0 0 10px #2f5f5f;
  height: 2rem;
}

#searchForm i {
  color: #9F4f4f;
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  font-size: 1.1rem;
}

.container {
  display: -ms-grid;
  display: grid;
  gap: 20px;
}

@media only screen and (min-width: 900px) {
  #searchForm {
    width: 40%;
  }
  .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    width: 80%;
    margin-top: 50px;
  }
}

.product-details-container {
  display: -ms-grid;
  display: grid;
  width: 100%;
}

.product-details-container h2 {
  color: #2f5f5f;
}

.product-details-container img {
  width: 100%;
}

.product-details-container .description {
  color: #402F28;
  font-family: "Lato", sans-serif;
  width: 90%;
  margin: 0 auto;
}

.product-details-container i {
  margin-left: 1rem;
}

.product-details-container .card-price {
  margin-top: 0.5rem;
  font-size: 1.2rem;
}

.details-title img {
  width: 40%;
}

.details-image {
  margin-top: 1.7rem;
}

@media only screen and (min-width: 900px) {
  .product-details-container {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
  }
  .product-details-container .details-image {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 5;
    grid-row: 1/6;
  }
  .product-details-container .details-title {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
  .product-details-container .description {
    -ms-grid-row: 2;
    grid-row: 2;
    width: 80%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .product-details-container .card-price {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 1.4rem;
  }
  .product-details-container button {
    -ms-grid-row: 4;
    grid-row: 4;
    width: 300px;
    margin: 0px auto;
  }
}

.button-styles {
  background-color: #2f5f5f;
  color: #fff;
  font-family: "century-gothic", sans-serif;
  border-radius: 8px;
  border: none;
  height: 2.3rem;
  -webkit-transition: -webkit-box-shadow .2s;
  transition: -webkit-box-shadow .2s;
  transition: box-shadow .2s;
  transition: box-shadow .2s, -webkit-box-shadow .2s;
}

.button-styles:hover {
  -webkit-box-shadow: 0 0 8px #402F28;
          box-shadow: 0 0 8px #402F28;
}
/*# sourceMappingURL=style.css.map */