#addProductForm {
  width: 100%;
  margin: 20px auto;
  box-shadow: 0 0 5px map-get($colours, "text");
  border-radius: 10px;
  padding: 30px 0;

  & .form-title, .form-body {
    display: flex;
    flex-direction: column;
  }

  & .message-container {
    width: 70%;
    margin: 0px auto;
  }
}


.form-body {
  width: 80%;
  margin: 10px auto;

  & div {
    display: flex;
    flex-direction: column;
  }

  & label {
    margin-top: 20px;
    margin-bottom: 5px;
    text-decoration: underline;
    font-family: $titles;
    font-size: 1.2rem;
    color: map-get($colours, "text");
    font-weight: bold;
  }

  & input {
    border: 1px solid map-get($colours, "text");
    border-radius: 5px;
    height: 30px;
  }

  & textarea {
    height: 200px;
    resize: none;
    font-family: $paragraphs3;
    border: 1px solid map-get($colours, "text");
    border-radius: 5px;
  }

  & .radio-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;

    & span {
      margin-left: 5px;
      margin-right: 30px;
    }
  }
}

#addProductBtn {
  display: block;
  width: 40%;
  margin: 40px auto 0 auto;
  align-self: center;
}




@media only screen and (min-width: 900px) {
  #addProductForm {
    width: 700px;
  }


}
