#addProductForm {
  width: 100%;
  margin: 20px auto;
  box-shadow: 0 0 5px map-get($colours, "text");
  border-radius: 10px;
  padding: 30px 0;

  & .form-title, .form-body {
    display: flex;
    flex-direction: column;
  }
}


.form-body {
  width: 80%;
  margin: 10px auto;

  & div {
    display: flex;
    flex-direction: column;
  }

  & label {
    margin-top: 20px;
    margin-bottom: 5px;
    text-decoration: underline;
    font-family: $titles;
    font-size: 1.1rem;
    color: map-get($colours, "text");
  }


}
