.button-styles {
  background-color: map-get($colours, "secondary");
  color: #fff;
  font-family: $titles;
  border-radius: 5px;
  border: none;
  height: 2.3rem;
  transition: box-shadow .2s;
}

.button-styles:hover {
  box-shadow: 0 0 8px map-get($colours, "text");
}

#clearCartBtn {
  background-color: map-get($colours, "primary");
  border: 1px solid map-get($colours, "text");
  width: 200px;
}