.empty-cart-message {
  font-family: $paragraphs3;
  margin: 200px auto;
  font-size: 1.8rem;
}


.cart-item {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  margin: 40px auto 0 auto;
  

  & img {
    width: 80%;
  }

  & p {
    margin-bottom: 0;
  }

  & h3 {
    font-size: 1.1rem;
    margin-bottom: 0;
  }

  & a {
    margin-right: 20px;
    color: map-get($colours, "secondary")
  }

  & .card-price {
    font-size: 1.1rem;
  }
}

.total-amount {
  display: flex;
  width: 50%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;

  & h4 {
    font-size: 1.1rem;
    margin-bottom: 0;
    margin-right: 10px;
    text-decoration: underline;
  }

  & p {
    margin-bottom: 0;
    font-size: 1.1rem;
  }

}

@media only screen and (min-width: 900px) {
  .cart-item {
    & h3 {
      font-size: 1.2rem;
    }
  }

  .total-amount {
    margin-top: -20px;

    & h4 {
      font-size: 1.2rem;
      
    }
  }
}