.cart-item {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  margin: 40px auto 0 auto;
  

  & img {
    width: 80%;
  }

  & p {
    margin-bottom: 0;
  }

  & h3 {
    font-size: 1.1rem;
    margin-bottom: 0;
  }

  & a {
    margin-right: 20px;
    color: map-get($colours, "secondary")
  }
}

.total-amount {
  display: flex;

  
}

