// footer {
//   position: fixed;
//   left: 0;
//   bottom: 0;
//   width: 100%;
//   // background-color: red;
//   // color: white;
//   // text-align: center;
// }

.footer-container {
  display: grid;
  margin-top: 80px;

  & a {
    color: #fff;
    text-decoration: none;
  }
}

.logo-social-container {
  background-color: map-get($colours, "footer");
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;



  & .logo-footer {
    padding: 15px;
  }

  & .social-media {
    display: flex;
    gap: 20px;
    padding-bottom: 30px;
  }
}

.social-media a {
  text-align: center;
  padding: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;

  & i {
    font-size: 1.3rem;
  }

  &.facebook {
    background-color: map-get($coloursSocial, "facebook");
  }

  &.pinterest {
    background-color: map-get($coloursSocial, "pinterest");
  }
  
  &.instagram {
    background-color: map-get($coloursSocial, "instagram");
  }
  
  &.youtube {
    background-color: map-get($coloursSocial, "youtube");
    
  }
}

.logo-footer img {
  display: block;
  margin: 0 auto;
  width: 50%;
}


.info-container {
  background-color: map-get($colours, "footer");
  color: #fff;
  margin-top: 2px;
  display: flex;
  flex-direction: column;
  padding-left: 20px;

  & div {
    display: flex;
    flex-direction: column;
  }

  & div:last-child {
    padding-bottom: 50px;
  }


  & h3 {
    display: block;
    position: relative;
    padding-bottom: 2px;
    margin-top: 20px;
    text-align: left;
  }

  & h3:before {
    content: "";
    position: absolute;
    width: 15%;
    height: 1px;
    bottom: 0;
    border-bottom: 1px solid #fff;
  }
}

.newsletter-form {
  width: 200px;

  & input {
    background-color: map-get($colours, "footer");
    border-radius: 5px;
    border: 1px solid white;
  }

  & button {
    width: 100%;
    margin-top: 4px;
    border-radius: 5px;
    border: 1px solid #fff;
    color: map-get($colours, "footer");
    background-color: #fff;
    transition: background-color .4s, color .4s;
  }

  & ::placeholder {
    color: #fff;
  }
}



@media only screen and (min-width: 900px) {
  .logo-social-container {
    flex-direction: row;
    justify-content: space-between;
    
    & .social-media {
        padding-bottom: 0;
        margin-right: 100px;
    }
  }

  .info-container {
    flex-direction: row-reverse;
    justify-content: space-around;
    
    & h3:before {
      width: 40%;
    }
  }

  .newsletter-form {
    width: 350px;
    
    & input {
      width: 80%;
      // margin: 0px auto;
    }

    & button {
      width: 80%;
    }

    & button:hover {
      background-color: map-get($colours, "footer");
      color: #fff;
    }
  }
}