/* Banner */
.banner {
  display: block;
  width: 100%;
  position: relative;
}

.banner-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.banner-title {
  position: absolute;
  top: 2rem;
  right: 1rem;

  & .separator {
    margin: 0 auto;
    width: 100%;
  }
}



/* Carousel */
.card {
  margin: 10px auto;
  border-radius: 5px;
  box-shadow: 0 0 5px map-get($colours, "secondary");
}

.card img {
  object-fit: contain;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid map-get($colours, "secondary")
}

.card-price {
  font-size: 1.1rem;
  font-weight: 600;
  color: map-get($colours, "prices");
  text-align: center;
}

.card-title {
  color: map-get($colours, "secondary");
}


/* Age Cubes */
.age-cubes-grid {
  margin: 10px auto;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  row-gap: 15px;

  & img {
    width: 50%;
    
  }

  & a {
    text-align: center;
  }
}


/* Category cards */
.categories-container {
  display: grid;
  width: 90%;
  margin: 10px auto;
}

.category-card {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: 0 0 10px map-get($colours, "secondary");
  border-radius: 5px;
  width: 250px;
  height: 260px;
  margin: 20px auto;

  & img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  & .category-title {
    width: 60%;
    position: absolute;
    margin: auto auto;
    padding: 3px;
    border: 1px solid map-get($colours, "secondary");
    background-color: #fff;
  }

  & h3 {
    border: 1px solid map-get($colours, "secondary");
    font-size: 1.2rem;
    padding: 7px;
    margin: auto;
    text-align: center;
    color: map-get($colours, "text")
  }
}

#newCont {
  display: none;
}




@media only screen and (min-width: 900px) {
  /* New Products */
  #newCont {
    display: grid;
  }

  .lg-screens-container {
    width: 80%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }


  /* Banner */
  .banner-img {
    width: 100%;
    height: 800px;
  }

  .banner-title {
    position: absolute;
    top: 6rem;
    right: 10rem;

    & h2 {
      font-size: 5vw;
    }
  }

  /* Carousel */
  .card {
    box-shadow: 0 0 20px map-get($colours, "secondary");
    transition: transform .3s;
  }

  /* Age Cubes */
  .age-cubes-grid {
    margin: 20px auto;
    width: 80%;
    display: flex;
    justify-content: center;
    row-gap: 15px;

    & img {
      width: 50%;
    }

    & a {
      text-align: center;
    }
  }

  
  /* Categories */
  .categories-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 90%;
    margin: 10px auto;
    gap: 40px;
  }
}