body {
  overflow-x: hidden;
}

// header {
//   margin-top: 0;
//   position: sticky;
//   top: 0px;

// }

.separator {
  width: 90%;
  margin: 50px auto;
  height: 2px;
  border-bottom: 1px solid map-get($colours, "text")
}