nav {
  position: relative;
  height: 140px;
  width: 100%;
  display: grid;
  grid-template-columns: 15% 70% 15%;
  justify-items: center;
  align-items: end;
  background-color: #fefefe;
  filter: drop-shadow(0 0 8px map-get($colours, "secondary"));
  margin-bottom: 10px;
  padding: 10px;
  z-index: 2;

  & ul {
    padding: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 0;
    top: 141px;
    width: 100%;
    height: 400px;
    justify-content: space-evenly;
    background-color: #fefefe;
    transform: translateX(110%);
    transition: transform 0.4s ease-in;
  }

  & li {
    list-style: none;
    opacity: 1;
    font-size: 1.1rem;
  }

  & a {
    text-decoration: none;
    font-size: 1.8rem;
    color: map-get($colours, "secondary");
  }
}

.greeting-span {
  font-size: 1rem;
  color: map-get($colours, "secondary");
  font-family: $titles;

  & i {
    margin-left: 10px;
    color: map-get($colours, "primary");
    cursor: pointer;
  }
}

.nav-visible {
  transform: translateX(0%);
}


#logo {
  display: block;
  width: 200px;
  margin: 0px auto;
  align-self: center;

  & img {
    width: 100%;
  }
}

#cart {
  position: relative;
  border: 1px solid (map-get($colours, "secondary"));
  border-radius: 50%;
  padding: 10px;
  height: 40px;
  width: 40px;

  & i {
    font-size: 1.3rem;
    color: map-get($colours, "primary");
    text-align: center;
    display: block;
  }

  & #counter {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -10px;
    right: -5px;
    border: 1px solid map-get($colours, "secondary");
    border-radius: 50%;
    height: 22px;
    width: 22px;
    line-height: 22px;
    background-color: map-get($colours, "secondary");
    color: #fff;
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
    z-index: 1;
  }
}

#burgerBtn {
  font-size: 1.8rem;
  color: map-get($colours, "primary")
}


.login-container {
  position: absolute;
  top: 0;
  right: 25px;

  & i {
    font-size: 1.4rem;;
  }

  & #loggedUser {
    display: none;
  }
}

.nav-separator {
  display: none;
}

#navbarDropdown {
  color: map-get($colours, "primary");
  border-top: 2px solid map-get($colours, "secondary");
  padding-top: 30px;
  font-weight: bold;
  font-size: 1.5rem;

  & i {
        margin-left: 10px;
        color: map-get($colours, "secondary");
  }
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  height: 100px;
  transition: none;

  & a {
    font-size: 1.3rem;
    color: map-get($colours, "primary");
  }
}




@media only screen and (min-width: 900px) {
  #burgerBtn {
    display: none;
  }

  
  nav {
    position: relative;
    height: 140px;
    display: grid;
    grid-template-columns: 20% 50% 20% 10%;
    grid-template-rows: 1% 99%;
    align-items: center;
  
    & ul {
      position: relative;
      margin: 20px 0px 0px 25px;
      display: flex;
      flex-direction: row;
      justify-self: end;
      grid-column: 2;
      grid-row: 2;
      width: 100%;
      height: 0px;
      top: 0px;
      justify-content: flex-start;
      background-color: none;
      transform: translateX(0%);
    }
  
    & li {
      margin: 15px;
      padding: 3px;
      border: 1px dashed #fefefe;
      transition: border .6s;
    }

    // & li:not(#navbarDropdown):hover {
    //   border: 1px dashed map-get($colours, "secondary");
    //   padding: 3px;
    //   color: map-get($colours, "secondary");
    // }
  
    & a {
      font-size: 1.5rem;
      transition: border .6s;
      border: 1px dashed #fefefe;
      padding: 3px;
    }

    & a:not(#navbarDropdown):not(#cart):not(#logo):not(.dropdown-item):not(.user-icon):hover {
      color: map-get($colours, "secondary");
      border: 1px dashed map-get($colours, "secondary");
      padding: 3px;
    }
  }

  .active {
    border: 1px dashed map-get($colours, "secondary");
    padding: 3px;
  }

  #logo {
    grid-column: 1;
    grid-row: 2;
    width: 80%;
    margin: 0px auto;
    align-self: center;
  
    & img {
      width: 100%;
    }
  }

  #cart {
    margin-right: 40px;
    grid-column: 4;
    grid-row: 2;
    padding: 15px;
    height: 60px;
    width: 60px;
  
    & i {
      font-size: 1.6rem;
    }
  
    & #counter {
      top: -10px;
      right: -5px;
      height: 27px;
      width: 27px;
      font-size: 1.1rem;
    }
  }

  .login-container {
    position: relative;
    display: flex;
    padding-top: 20px;
    grid-column: 3;
    grid-row: 2;
    align-items: center;
    justify-self: end;
  
    & i {
      font-size: 1.4rem;
      margin-right: 10px;
    }
  
    & #loggedUser {
      display: block;
    }
  }

  .nav-separator {
    display: block;
    border: 1px solid map-get($colours, "secondary");
    padding: 30px 0;
  }

  #navbarDropdown {
    color: map-get($colours, "primary");
    border-top: 0;
    padding: 3px;
    font-weight: bold;
    font-size: 1.2rem;
  }
  

  .dropdown-menu {
    height: 150px;
    width: 250px;
    border: 1px solid map-get($colours, "secondary");

    & a {
      font-size: 1.1rem;
      color: map-get($colours, "primary");
    }
  }

}