.navbar {
  background-color: #fefefe;
  filter: drop-shadow(0 0 8px map-get($colours, "secondary"));
  margin-bottom: 10px;
}

.navbar-toggler {
  border: none;
  margin-top: 40px;
}

#cart {
  position: relative;
  align-self: flex-end;
  border: 1px solid (map-get($colours, "secondary"));
  border-radius: 50%;
  padding: 10px;
  height: 45px;
  width: 45px;
  // top: 210px;
  // right: 10px;
}

#cart i {
  font-size: 1.4rem;
  color: map-get($colours, "primary");
  text-align: center;
  display: block;
}

#counter{
  position: absolute;
  top: -10px;
  right: -5px;
  border: 1px solid map-get($colours, "primary");
  border-radius: 50%;
  height: 22px;
  width: 22px;
  background-color: #fff;
  text-align: center;
  font-weight: 600;
  z-index: 1;
}