#searchForm {
  display: block;
  position: relative;
  width: 60%;
  margin: 10px auto;
  
  & #search {
    width: 100%;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 10px map-get($colours, "secondary");
    height: 2rem;
  }

  & i {
    color: map-get($colours, "primary");
    position: absolute;
    right: 1rem;
    top: 0.5rem;
    font-size: 1.1rem;
  }
}

.container {
  display: grid;
  gap: 20px;
}




@media only screen and (min-width: 900px) {
  #searchForm {
    width: 40%;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
    margin-top: 50px;
  }
}