#searchForm {
  display: block;
  position: relative;
  width: 60%;
  margin: 10px auto;
  
  & #search {
    width: 100%;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 10px map-get($colours, "secondary");
    height: 2rem;
  }

  & i {
    color: map-get($colours, "primary");
    position: absolute;
    right: 1rem;
    top: 0.5rem;
    font-size: 1.1rem;
  }
}

.container {
  display: grid;
  gap: 20px;
}

.edit-icon {
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 1.3rem;
  color: map-get($colours, "secondary");
  transition: transform .3s;

  &:hover {
    transform: scale(1.1);
    color: map-get($colours, "secondary");
  }
}


@media only screen and (min-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    margin-top: 50px;
  }

  #searchForm {
    width: 40%;
  }

  .card:hover {
    transform: scale(1.1);
  }

}

@media only screen and (min-width: 960px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }

}


@media only screen and (min-width: 1500px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
  }
}