.product-details-container {
  display: grid;
  
  width: 100%;

  & h2 {
    color: map-get($colours, "secondary")
  }

  & img {
    width: 100%;
  }

  & .description {
    color: map-get($colours, "text");
    font-family: $paragraphs3;
    width: 90%;
    margin: 0 auto;
  }

  & i {
    margin-left: 1rem;
  }

  & .card-price {
    margin-top: 0.5rem;
    font-size: 1.2rem;
  }
}

.details-title img{
  width: 40%;
}

.details-image {
  margin-top: 1.7rem;
}

.edit-link {
  color: #fff;
  background-color: map-get($colours, "primary");;
  border: 1px solid map-get($colours, "secondary");
  width: 30%;
  justify-self: center;
  margin-top: 30px;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}



@media only screen and (min-width: 900px) {
  .product-details-container {
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(4, 1fr);

    & .details-image {
      grid-column: 1;
      grid-row: 1/6;
    }

    & .details-title {
      grid-row: 1;
      align-self: end;
    }

    & .description {
      grid-row: 2;
      width: 80%;
      align-self: center;
    }

    & .card-price {
      grid-row: 3;
      align-self: center;
      font-size: 1.4rem;
    }

    & button {
      grid-row: 4;
      width: 300px;
      margin: 0px auto;
    }

    
  }

  
  .edit-link {
    width: 20%;
    margin-top: 0px;
    padding: 5px;
    transition: box-shadow .2s;

    &:hover {
      box-shadow: 0 0 8px map-get($colours, "text");
      color: #fff;
    }
  }
  

  

  
}
